* {
    padding:0px;
    margin: 0px;
}

body {
    background-color: aqua;
    text-align: center;
}

h1 {
    margin: 48px 0px ;
}

button{
    font-size: 22px;
    padding: 12px;
    margin-bottom: 24px;
}

.container {
    /* border: solid 5px black; */
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: auto;
    margin-bottom: 25%;
}

.row {
    display: flex;
}

.row > div {
    flex-grow: 1;
    aspect-ratio: 1/1; /*Sets the heights of each of the div tags equal to their widths, making them squares.
    The inner-text was removed because the text was making the height greater than the width.*/
}

.square {
    border: dotted 1px black;
    background-color: rgba(255, 255, 255, 1);
}